
#flex-container
{
    display: flex;
    width: 100%;
    height: auto;
    background-color: beige;
    flex-direction: column;
    font-family: Amiri, Cairo, sofia, tahoma, arial, sans-serif;
}

#flex-title
{
    display: flex;
    width: 100%;
    height: 20%;
    direction: rtl;
    font-family: Quran, Cairo, Amiri, sofia, tahoma, arial, sans-serif !important;
    justify-content: center;
    margin: 2% 0% 4% 0%;
}

#flex-photo
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#flex-about
{
    display: flex;
    width: 96%;
    height: auto;
    direction: rtl;
    padding: 2%;
    margin: 2% 0% 2% 0%;
    flex-direction: column;
}

#flex-download
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#flex-help
{
    display: flex;
    width: 96%;
    height: auto;
    padding: 2%;
    margin-top: 2%;
    direction: rtl;
    flex-direction: column;
}

#flex-photo > img
{
    width: 35%;
    height: 85%;
    border-radius: 0.5em;
    border: 1px solid gray;
}

#flex-download > a
{
    background-color: rgb(240, 239, 239);
    margin-bottom: 1%;
    text-decoration: none;
    padding: 2%;
    border: 2px solid green;
    border-radius: 0.5em;
    color: #000;
    direction: rtl;
    text-align: center;
}