#flex-container
{
    width: 100%;
}

/* ................................................................................................................ */

#flex-top
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid gray;
}

#title
{
    margin: 0% auto 0%;
    direction: rtl;
    text-align: center;
    margin: 2% 0% 2% 0%;
    font-family: tahoma, verdana, arial, sans-serif;
    font-family: Amiri Quran, tahoma, verdana, arial, sans-serif;
}

#photo
{
    width: 40%;
    margin-bottom: 2%;
    border-radius: 0.5em;
    border: 2px solid gray;
}

#information
{
    margin: 0% auto 0%;
    direction: rtl;
    text-align: right;
    margin-bottom: 2%;
    font-family: Amiri, tahoma, verdana, arial, sans-serif;
}

#text
{
    direction: rtl;
    text-align: center;
    margin: 0% auto 0%;
    font-family: Cairo, tahoma, verdana, arial, sans-serif;
}

/* ................................................................................................................ */

#flex-bottom
{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 4%;
}

#link
{
    margin: 0% auto 0%;
    direction: rtl;
    text-align: right;
    margin-top: 2%;
    text-align: center;
    font-family: Amiri, tahoma, verdana, arial, sans-serif;
}

#download
{
    margin: 2% auto 0%;
    background-color: rgb(240, 239, 239);
    border: 1px solid gray;
    border-radius: 0.3em;
    color: black;
    margin-bottom: 2%;
}
