body {
    margin: 0px;
    font-family: tahoma;
    overflow-x: hidden;
    max-width: 1350px;
    background-color: white;
}

/*..................................................menu.1........................................................*/

div.nav {
    width: 98%;
    height: 40px;
    direction: rtl;
    padding-right: 30px;
    margin: -16px auto 0px;
    border-bottom: 3px solid rgba(41, 39, 39, 0.5);
    padding-bottom: 15px;
}

ul.menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

ul.menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all 0.1s;
}

ul.menu li a:hover {
    border-bottom: green 2px solid;
}

div.sub {
    display: none;
    position: absolute;
}

ul.menu li:hover div.sub {
    color: green;
    display: block;
    background-color: white;
    border: 5px solid rgba(41, 39, 39, 0.5);
    border-radius: 0.5em;
    margin: 1px 0px 0px 0px;
}

div.sub li {
    display: block;
}

.sub {
    width: 900px;
    height: 300px;

}


#menu-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/*..................................................menu.2........................................................*/

div.nav2 {
    width: auto;
    height: 23px;
    direction: rtl;
    padding-right: 0px;
    margin: 20px 20px 0px 20px;
    border-bottom: 5px solid rgba(41, 39, 39, 0.5);
}

ul.menu2 li {
    list-style: none;
    display: inline-block;
    position: relative;
}

ul.menu2 li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all 1s;
}

ul.menu2 li a:hover {
    border-bottom: 2px solid red;
}

div.sub {
    display: none;
    position: absolute;
}

ul.menu2 li:hover div.sub {
    color: brown;
    display: block;
    background-color: blueviolet;
}

div.sub li {
    display: block;
}

.sub {
    width: 900px;
    height: 300px;

}

.submenu {
    color: black;
}

.submenu2 {
    width: 110px;
    height: 200px;
    margin: 20px 5px 0px 30px;
    float: left;
    text-align: center;
    font-size: 10pt;
    line-height: 0.7;
}

/*....................................................container........................................................*/


#container {
    width: 100%;
    height: auto;
}

#header {
    width: 100%;
    height: 80px;
}

#body {
    width: 100%;
    height: auto;
    background-color: beige;
}

#body1 {
    width: 100%;
    height: 150px;
    background-color: beige;
}

#body2 {
    width: 100%;
    height: 150px;
    background-color: beige;
}

#body-full {
    background-color: beige;
}


/*....................................................header........................................................*/

#container-flex {
    display: flex;
    max-width: 1360px;
    width: auto;
    height: auto;
    justify-content: center;
}

#search-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    height: auto;
}

#login-flex {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: flex-start;
}

#logo {
    width: 23%;
    height: 100%;
}

#search {
    border: 2px solid gray;
    border-radius: 0.3em;
    text-align: right;
    height: 65%;
    width: 50%;
}

#search-icon {
    color: gray;
    margin: 0% 20% 0% 0%;
}

#signup {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-login 
{
    color: black;
    font-family: tahoma, verdana, arial, sans-serif;
    text-decoration: none;
}

#icon-login 
{
    color: gray;
    text-decoration: none;
}

/*....................................................table.menu....................................................*/

#table-menu {
    margin: 0% 7.5% 0% 7.5%;
    width: 85%;
    text-align: center;
}

table#table-menu tr th {
    padding: 1% 5% 0% 5%;
}

table#table-menu tr td {
    padding: 1% 6% 0% 5%;
}

.image-menu {
    width: 50px;
    height: 50px;
    float: left;
    border: 2px solid gray;
    border-radius: 50%;
}

/*....................................................poshtiban........................................................*/

#poshtiban {
    width: 70px;
    height: 50px;
    margin: -35px 0px 0px 30px;
    background-color: green;
    border: 2px solid gray;
    direction: rtl;
    border-radius: 35px;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    transition: all 1s;
    overflow: hidden;
}

#poshtiban:hover {
    width: 250px;
    height: 390px;
    border-radius: 1em;
    background-color: white;
    border: 10px green solid;
    direction: rtl;
}

#chat {
    width: 200px;
    height: 300px;
    margin: 45px auto 25px;
    border: 3px gray solid;
    border-radius: 1em;
    background-image: url('../file/chat.jpg');
}

#profile {
    width: 200px;
    height: 30px;
    overflow: hidden;
    margin: 0px auto 4px;
    border-start-start-radius: 0.9em;
    border-start-end-radius: 0.9em;
    background-color: green;

}

#keyboard {
    width: 180px;
    height: 30px;
    overflow: hidden;
    margin: 230px auto 4px;
    border-radius: 1em;
    background-color: white;
    border: 2px solid gray;
    padding-right: 10px;
}

#send-icon {
    rotate: 180deg;
    float: left;
    margin: -29px 0px 0px 15px;
    font-size: 15pt;
    color: gray;
    border-left: 2px solid gray;
    padding-left: 5px;
}

#setting-icon {
    float: left;
    color: rgb(0, 0, 0);
    margin: 3px 0px 0px 3px;
}

#name {
    float: left;
    color: rgb(0, 0, 0);
    margin: 3px 0px 0px 80px;
}

img[alt="profile"] {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    float: left;
    margin: 3px 0px 0px 10px;
}

/*....................................................footer........................................................*/

#footer-flex {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0% auto 0%;
    border-top: 2px solid gray;
}

#footer-right-flex {
    display: flex;
    max-width: 40%;
    width: 40%;
}

#footer-left-flex {
    display: flex;
}

#img {
    width: 75%;
    height: auto;
    margin: 3% 12.5% 9% 12.5%;
}

#footer-left {
    direction: rtl;
    text-align: right;
    font-family: Cairo, Amiri, sofia, tahoma, verdana, arial, sans-serif !important;
}

#email-button {
    width: 15%;
    height: 20%;
    border: 2px solid green;
    border-radius: 0.3em;
    margin: 3% 4% 0% 0%;
    background-color: rgb(240, 239, 239);
}

#email {
    width: 75%;
    height: 20%;
    border: 2px solid green;
    border-radius: 0.3em;
    margin: 3% 0% 20% 4%;
    background-color: rgb(240, 239, 239);
}

#addres {
    direction: rtl;
    text-align: right;
    margin: 9% 5% 0% 3%;
    font-family: Cairo, Amiri, sofia, tahoma, verdana, arial, sans-serif !important;
}

a[href="#start"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 20%;
    border: 2px solid green;
    border-radius: 0.3em;
    background-color: rgb(240, 239, 239);
    text-decoration: none;
    color: black;
    font-family: Cairo, Amiri, sofia, tahoma, verdana, arial, sans-serif !important;
    margin-top: 8%;
}